{% extends 'sign_templates.html' %}
{% block header %}
<link href="/static/css/signin.css" rel="stylesheet">
<title>Sign In</title>
{% endblock %}
{% block form %}
<form class="form-signin" action="servlet" method="post" onsubmit="return submit_form();">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="username" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
    <div id="msg" class="msg">{{msg|safe}}</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    <script>
        function heredoc(fn) {
           return fn.toString().split('\n').slice(1,-1).join('\n') + '\n';
        }           
        function submit_form() {
            $.ajax({
                type: "POST",
                url: "/login",
                dataType: 'json',
                data: {
                    username: $("#username").val(),
                    password: $("#password").val(),
                },
                success: function(res) {
                    if (res.ok) {
                        $("#msg").html(`
                            <div class="alert alert-success" role="alert">
                                ${res.msg}
                            </div>
                            <meta http-equiv="refresh" content="1;url=/">
                        `);
                    } else {
                        $("#msg").html(`
                            <div class="alert alert-danger" role="alert">
                                ${res.msg}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        `);
                    }
                },
                error: function() {
                    $("#msg").html(`
                        <div class="alert alert-danger" role="alert">
                            cannot reach server, try again.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    `);
                }
            });
            return false;
        }
    </script>
    <br/>
    <p align="right">Don't have a account? <a href="/register">Sign Up</a></p>
</form>
{% endblock %}
